<div class="container min-h-[100vh] mx-auto px-2 flex flex-col items-center justify-center">
    <h1 class="text-4xl font-semibold text-center mb-10">TV Guide Search</h1>
    <form id="login-form" class="flex flex-col space-y-3 w-full max-w-[35rem]">
        <input class="border p-2 rounded focus:ring-2 ring-indigo-400 outline-none" type="text" name="username" placeholder="Username" required>
        <input class="border p-2 rounded focus:ring-2 ring-indigo-400 outline-none" type="password" name="password" placeholder="Password" required>

        <button type="submit" class="bg-indigo-500 text-white p-2 rounded hover:bg-indigo-600">Login</button>
    </form>
</div>