<header class="w-full py-3 bg-indigo-100">
    <div class="container mx-auto flex items-center justify-between">
        <a href="/">
            <h1 class="font-medium text-lg">Tv Guide Search</h1>
        </a>
        <a href="/auth/logout" class="bg-indigo-500 hover:bg-indigo-600 text-white py-1 px-2 rounded">Logout</a>
    </div>
</header>